# EmailJS Configuration
# Obtener en: https://www.emailjs.com/
NEXT_PUBLIC_EMAILJS_SERVICE_ID=service_mtdmr5r
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=template_ntmq6rx
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=m4-E800NJXGTBTwxH

# Strapi CMS
# URL del servidor Strapi (sin trailing slash)
NEXT_PUBLIC_STRAPI_URL=https://your-strapi-instance.media.strapiapp.com
STRAPI_API_TOKEN=your_api_token_here

# Site Configuration
NEXT_PUBLIC_SITE_URL=https://www.ochentanoventa.com.ar
