.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid var(--Cream);
  padding-top: 3.5rem;
  margin-bottom: 1.25rem;
  
}

.description {
  display: flex;
  flex-direction: column;
  padding: 1.25rem 0;
  border-bottom: 1px solid var(--Cream);
  margin-bottom: 1.25rem;
}

.container h5 {
 
  margin-bottom: 1rem;
}

.container p {
  
 padding: 0 0.75rem;
}

.slider {
 
  /* margin: 0 0.75rem 1.25rem 0.75rem; */
  
}
.slider h4 {

}

/* @media (min-width: 735px) {
  .container h5 {
    font-weight: 700;
    font-size: 1.3rem;
    margin: 1rem auto;
  }
  
  .container p {
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 1rem;
    margin: 1rem auto;
    opacity: 0.6;
  }
} */



