.container {
  height: 90vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* padding: 2rem 0; */
}

.description {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.container h5 {
  max-width: 360px;
  margin: 1rem auto;
}

.container p {
  max-width: 320px;
  margin: 1rem auto;
}

/* @media (min-width: 735px) {
  .container h5 {
    font-weight: 700;
    font-size: 1.3rem;
    margin: 1rem auto;
  }
  
  .container p {
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 1rem;
    margin: 1rem auto;
    opacity: 0.6;
  }
} */



