.container {
  padding: 1rem 0;
  text-align: center;
  
}

.description {
  margin: 2rem auto;
}

.container h2 {
  font-weight: 400;
  font-size: 1rem;
  margin: 1rem auto;
}

.container p {
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 1rem;
  margin: 1rem auto;
  opacity: 0.5;
}



