@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --white: #ffffff;
  --gold: #fff0ba;
}

body {
  background-color: black;
}

@theme {
  --font-roboto: var(--font-roboto);
  --font-montserrat: var(--font-montserrat);
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-16: 1rem;
  --spacing-80: 5rem;
  --spacing-128: 8rem;
  --text-body-sm: 14px;
  --text-body-md: 16px;
  --text-heading-sm: 20px;
  --text-heading-md: 32px;
  --text-heading-lg: 40px;
  --text-heading-xl: 60px;
  --color-divider: var(--white);
  --color-gold: var(--gold);
}

.bg-secondary {
  background-color: rgba(229, 229, 229, 0.1);
}
