@import "tailwindcss";

:root {
  --background: #000000;
  /* --foreground: #171717; */
}

@theme {
  --font-roboto: var(--font-roboto);
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;

  --color-divider: #ffffff;
  --color-gray-800: #000000, opacity(0.8);
}

body {
  background: var(--background);
  /* color: var(--foreground);
  font-family: Roboto, sans-serif; */
}
