.container {
  position: fixed;
  top: 0;
  height: 8vh;
  width: 100vw;
  background-color: #000000;
  color: #FFF0B6;
  text-align: center;
  font-size: 0.4rem;
  letter-spacing: 0.1rem;
  line-height: 0.8rem;
  border-bottom: 1px solid gold;
  padding: 0.5rem 0 0 0;
}

.links {
  display: flex;
  justify-content:space-around ;
  align-items: center;
}

.links a{
  list-style: none;
  color: #FFF0B6;
  text-decoration: none;
}

/* @media (min-width: 735px) {
  .container {
    font-size: 0.5rem;
    letter-spacing: 0.2rem;
    line-height: 1.2rem;
  }
} */





