.container {
  width: 90%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  text-align: center;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid gold;;
  padding: 1rem 0;

}

.container h4 {
  height: 10vh;
}

.container form {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.container label {
  margin: 1rem 0;
}

.container input{
  background-color: #D9D9D9 ;
  padding: 0.3rem 0;
}

.container textarea {
  background-color: #D9D9D9;
  padding: 3rem 0;
}

.container form button {
  padding: 0.5rem;
  margin: 1rem 1rem;
}



