.container {
  height: 40%;
  margin: auto;
  text-align: center;
}

.container img {
  width: 100%;
  
}

.container h3 {
  font-weight: 300;
  font-size: 1rem;
}

@media (min-width: 735px) {
  .container {
    margin: 0;
    padding: 0;
    max-width: 260px;
    width: 260px;
  }
  .container img {
    width: 100%;
  }
}