.container {
display:flex;
margin-bottom: 1.25rem;
}

.container a{
  background-color: #FAFAFA;
  height: 120px;
  cursor: pointer;
}

.container img {
  width: 120px;
  height: 120px;
  transition: .5s ease;
}

.container img:hover {
  opacity: 0.8;
}

.albumData {
  margin-left: 1.25rem;
}

.albumData ul {
  margin-top: 0.31rem;
}

.albumData li {
  list-style: none;
  font-size: small;
  margin-left: 0.4rem;
}

@media (min-width: 769px) {
  .container img {
   width: 180px;
   height: 180px;
  }
  .container a {
    height: 180px;
  }
  .albumData li {
    font-size: large;
  }
}