.container {
display:flex;
margin-bottom: 1.25rem;
}

.container img {
  width: 120px;
  height: 120px;
  transition: .5s ease;
}

.container img:hover {
  opacity: 0.8;
}


.albumData {
  margin-left: 1.25rem;
}

.albumData ul {
  margin-top: 0.31rem;
}

.albumData li {
  list-style: none;
  margin-left: 0.4rem;
}

@media (min-width: 1200px) {
  .container img {
   width: 200px;
   height: 200px;
  }
}