.container {
display:flex;
margin-bottom: 1.25rem;
}

.container img {
  width: 120px;
  height: 120px;
}

.albumData {
  margin-left: 1.25rem;
}

.albumData ul {
  margin-top: 0.31rem;
}

.albumData li {
  list-style: none;
  margin-left: 0.4rem;
}

/* @media (min-width: 735px) {
  .container {
    margin: 0;
    padding: 0;
    max-width: 260px;
    width: 260px;
  }
  .container img {
    width: 100%;
  }
} */