:root{
--Cream: #FFF0B6;
--Black: #000000;
--White: #FFFFFF; 
font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: var(--Black);
  padding: 0.5rem;
  color: var(--White);
}
