:root{
--Cream: #FFF0B6;
--Black: #000000;
--White: #FFFFFF; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  /* Remover */
  /* height: 100vh; */
  /* max-width: 320px;  */
  /* margin: auto; */
    /* Remover */
  background-color: var(--Black);
  color: var(--White);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: var(--White);
}

p {
  font-size: 1rem;
  font-weight: 300;
}

h4 {
  font-size: 1.563rem;
  font-weight: 400;
  text-transform: capitalize;

}

h5 {
  font-size: 1.25rem;
  font-weight: 700;
}

h6 {
  font-size: 0.8rem;
  font-weight: 300;
}
