
.container h2 {
  text-align: center;
  font-weight: 700;
  font-size: 1.3rem;
  padding: 1rem;
}


.albums {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 80%;
  margin: auto;
  text-align: center;
 
}

@media (min-width: 735px) {
  .albums {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}