.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--Cream);
  margin-bottom: 1.25rem;
}

.container h4 {
  text-align: center;
  margin-bottom: 1.25rem;
} 

@media (min-width: 769px) {
  .albums {
    display: flex;
    gap: 48px;
  }

  p {
    font-size: 1.5rem;
  }

  li {
    font-size: 1.05rem;
  }
  
} 


 