.container {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* position: relative; */
  
}

.photos {
  margin: 0 1.75rem;
}

.photos img {
  height: 350px;
}

.leftArrow {
  width: fit-content;
 height: fit-content; 
 /* position: absolute; */
 
}
.rightArrow {
  width: fit-content;
 height: fit-content; 
 /* position: absolute; */
 /* right: 0px; */
}

