.photos {
  display: flex;
  align-items: center;
}

.active:active{
  opacity: 0;
}

.active{
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.singlePhoto {
  border: 1px solid #FAFAFA;
  width: 300px;
  height: 300px;
  margin: 1.25rem 1.25rem;
}

@media (min-width: 769px){
  .singlePhoto{
    width: 800px;
    height: 800px;
  }
}


.leftArrow {
  opacity: 1;
  transition: 1s;
  position: relative;
  left: 11.3%;
  width: 45px;
  height: 45px;
}

.leftArrow:hover, .rightArrow:hover{
  opacity: 0.7;
  transition: 1s;
}

.rightArrow {
  opacity: 1;
  transition: 1s;
  position: relative;
  right: 11.3%;
  width: 45px;
  height: 45px;
}
@media (min-width: 769px) {
  .leftArrow {
    left: 8.4%;
    width: 60px;
    height: 60px;
  }

  .rightArrow {
    right: 8.4%;
    width: 60px;
    height: 60px;
  }
}



